/*TO DO
Make mobile responsive
make pretty
*/


.hidden{
    display: none;
}

html{
    background: url("https://images7.alphacoders.com/792/thumb-1920-792650.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color:darkolivegreen;
    font-family: 'Roboto Slab', serif;
    overflow-y: auto;
}

body{
    overflow:auto;
}

header{
    position: fixed;
    display:flex;
    justify-content:space-around;
    top:0;
    left:0;
    height:10%;
    min-height:50px;
    width:100%;
    background-color:rgb(156, 156, 156);
    opacity:.6;
}

.score{
    padding-left:10%;
}

.count{
    padding-right:10%;
}

h2{
    text-align: center;
    color:darkblue;
    opacity:100%;
}

h1{
    text-align: center;
    color:darkblue;
    margin:auto;
    opacity:100%;
}

.section{
    position: fixed;
    margin:center;
    color:white;
    top:25%;
    height:40%;
    min-height:350px;
    width:50%;
    left:25%;
    text-align:center;
}

fieldset{
    border:none;
}

p{
    margin: 10px 10px 5px 5px;
    border: solid 1px lightgreen;
    border-radius: 15px;
    background-color:forestgreen;
    background: linear-gradient(90deg, rgba(131,94,0,1) 0%, rgba(9,121,16,1) 31%, rgba(106,199,103,1) 100%);
    font-size:2vw;
    box-shadow:25px 5px 25px  black;
}

.answers{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    /*height:40%;
    width:60%;*/
    border-radius: 15px;
    background-color: forestgreen;
    background: linear-gradient(90deg, rgba(131,94,0,1) 0%, rgba(9,121,16,1) 31%, rgba(106,199,103,1) 100%);
    cursor:pointer;
    font-size:2vw;
    margin: 5px 10px 5px 5px;
    box-shadow:25px 5px 25px  black;
}

.answers span{
    position:relative;
    bottom:1vw;
}

.answers:has(input:checked){
    background-color:purple;
}

input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 100%;
    width: 2vw;
    height: 2vw;
    border: 1px solid #ffffff;
    transition: 0.2s all linear;
    outline: none;
    margin-right: 5px;
    position: relative;
    top: 1vw;
}

input:hover{
    background:rgb(209, 209, 85);
}

input:checked{
    background:red;
}

button{
    border:none;
    border-radius: 15px;
    display:block;
    background-color:#9b1908;
    background: radial-gradient(circle, rgba(105,73,27,1) 0%, rgba(187,43,14,1) 100%);
    color:lightgrey;
    margin:auto;
    height:30px;
    width:40%;
    min-width:115px;
    box-shadow:25px 5px 25px  black;
}

img{
    height:300px;
    width:550px;
    margin:auto;
    margin-top:5px;
    border-radius: 7px;
    box-shadow:25px 5px 25px  black;
}

.rightImg{
    height:300px;
    width:500px;
}

@media screen and (max-width: 1080px){
    img{
        display:none;
    }
}

@media screen and (max-width: 500px){
    .title{
        display:none;
    }
}